In [1]:
import pandas

In [2]:
zvirata = pandas.read_csv('adopce-zvirat.txt', sep = ';')

Vypis prvnich radku:

In [3]:
zvirata.head()

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1

Zakladni informace o tabulce:

In [4]:
zvirata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

In [5]:
zvirata.shape
# 513 lines 6 columns

(513, 6)

In [6]:
zvirata.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [7]:
zvirata.tail()

       id             nazev_cz nazev_en       trida_cz  cena  k_prohlidce
508  1417  Rosnice šalamounská           Obojživelníci  1000            1
509  1418       Létavka obecná           Obojživelníci  1000            1
510  1419          Bažant paví                   Ptáci  1000            1
511  1420  Sojkovec rezavouchý                   Ptáci  1000            1
512  1421   Kachnice kaštanová                   Ptáci  1000            1

Vyber sloupcu

In [9]:
zvirata[['nazev_cz','nazev_en']]

                nazev_cz                     nazev_en
0            Šváb syčivý  Madagascar giant cockroach
1    Pakobylka okřídlená     Pink-winged stick insect
2                  Tayra                        Tayra
3          Kajmanka supí    Alligator snapping turtle
4        Želva žlutočelá       Indochinese box turtle
..                   ...                          ...
508  Rosnice šalamounská
509       Létavka obecná
510          Bažant paví
511  Sojkovec rezavouchý
512   Kachnice kaštanová

[513 rows x 2 columns]

Vyber radku pomoci cisla radku:

In [10]:
zvirata.iloc[34]

id                     99
nazev_cz        Ibis bílý
nazev_en       White ibis
trida_cz            Ptáci
cena                 3000
k_prohlidce             1
Name: 34, dtype: object

In [13]:
zvirata[['nazev_cz', 'nazev_en']].iloc[34]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object